extends ./layout.jade

block content
	header.header(role='banner')
		h1
			img(src='images/iao.svg', alt='Institut aktivního občanství')
	.content(role='main')
		section#toc-uvod.part.uvod
			p.maintitle
				| Jsme nezisková organizace, jejímž posláním je podpora rozvoje občanské společnosti v České republice.
			p.navigation
				a(href='#projekty') Projekty
				a(href='#tym') Tým
				a(href='#kontakt') Kontakt
				a(href='#partneri') Partneři
				a(href='/akumulator.html', class='next-site') Akumulátor
			p Naše cíle:
			ul
				li rozvoj demokracie a občanské společnosti
				li ochrana občanských práv, včetně práva na zdravé životní prostředí
				li podpora aktivní účasti občanů na veřejném životě
			p
				| Aktivní občané a politici napříč Českou republikou často hledají inspiraci pro jejich veřejnou a politickou činnost. Institut aktivního občanství si proto klade za cíl nabízet jim příležitosti k vybudování sítí kontaktů s lidmi, kteří se zabývají obdobnou problematikou a získání znalostí potřebných pro úspěch jejich kampaní a politických aktivit.
		section#projekty.part.projekty
			h2 Naše projekty
			h3 Aktivistický akumulátor
			p
				| Dokážeš si své okolí a politiku představit jinak? Aktivistický akumulátor je vícefázové dlouhodobé školení pro mladé lidi z celé České republiky ve věku 15-26 let, kteří jsou a nadále chtějí být aktivní ve svých komunitách a zajímají se o témata zelené politiky.
			p
				| Od září 2015 do března 2016 se bude 20 mladých aktivistů setkávat na 5 národních víkendových školeních. Mezi 4. a 5. víkendovým školením pojedou všichni účastníci z pěti zemí na mezinárodní vzdělávací exkurzi do Bruselu, kde se mimo jiné blíže seznámí s Evropským parlamentem a Evropskou unií.
			p
				| Akumulátor realizuje Green European Foundation s podporou Institutu aktivního občanství a s finanční podporou Evropského parlamentu a Nadace Heinricha Bölla. Probíhá zároveň ještě ve Finsku (Visio), Švédsku (Cogito), Rakousku (Grüne Bildungswerkstatt) a Maďarsku (Ecopolis).
			ul
				li #[a(href="http://aktivniobcanstvi.cz/akumulator") Více informací]
				li #[a(href="http://aktivniobcanstvi.cz/akumulator#podminky") Podmínky účasti]
				li #[a(href="http://aktivniobcanstvi.cz/akumulator#prihlaska") Přihlaste se do neděle 27. 9.]

			h3 Zelená akademie
			p
				| Ve spolupráci s Nadací Heinricha Bölla Praha organizujeme Zelenou akademii, která nabízí praktické semináře a školení se zaměřením na environmentální politiku. Již tři roky v rámci seminářů Zelené akademie usilujeme o posílení zeleného politické hnutí v České republice. Propojujeme místní politiky, političky a příznivce se zahraničními experty a pomáháme jim získat zdroje a další kapacity na podporu jejich aktivit.
			p
				a(href='http://www.zelena-akademie.cz') zelena-akademie.cz →
			h3 Škola veřejné iniciativy
			p
				| Vzdělávací program Škola veřejné iniciativy nabízí vzdělávání posilující rozvoj všeobecného přehledu z hlediska občanských kompetencí, aktivního přístupu k obhajobě občanských práv, vzdělávání k demokratickým hodnotám a odpovědnému přístupu k životnímu prostředí. Ve všech seminářích i studijních materiálech klademe důraz na seznámení účastníků s příklady dobré praxe, stávající legislativou a odkazy na další důležité zdroje informací.
			p
				| Vzdělávací program vznikl jako součást projektu „Systém dalšího vzdělávání v oblasti aktivního občanství“, spolufinancovaného Evropským sociálním fondem a státním rozpočtem České republiky v rámci Operačního programu Vzdělávání pro konkurenceschopnost.
			p
				a(href='https://www.facebook.com/pages/%C5%A0kola-ve%C5%99ejn%C3%A9-iniciativy/166377763517201?fref=ts') Škola veřejné iniciativy na Facebooku →
		section#tym.about
			h2 Tým
			h3 MgA. Pavlína Pacáková
			span.about-role předsedkyně
			p
				| Lektorka, konzultantka a fundraiserka. Šest let působila jako fundraiserka mezinárodní ekologické organizace Greenpeace, tři roky pracovala jako hlavní manažerka Strany zelených na obnově a posílení zeleného politického hnutí, podílela se na kampani senátorky Elišky Wagnerové, vedla úspěšnou senátní kampaň Václava Lásky.
			p
				| Nyní vede komunitní bikesharing Rekola.cz a konzultuje desítku neziskových projektů, které se soustřeďují na zapojování občanů do rozhodování, odhalování korupčních kauz, podporu vzdělávání dětí ze znevýhodněného prostředí a podporu nezávislého umění.
			p
				a(href='mailto:pavlina@aktivniobcanstvi.cz') pavlina@aktivniobcanstvi.cz
			h3 Mgr. Martin Ander, Ph.D.
			span.about-role místopředseda
			p
				| Politik a pedagog, náměstek primátora města Brna. V působnosti má oblast rozvoje města, se zaměřením na územní plánování a rozvoj, životní prostředí, zemědělství, vodní a lesní hospodářství a projekt zdravého města. Od roku 2006 je zastupitel města Brna a od roku 2014 rovněž zastupitel Městské části Brno-střed. Dříve pracoval pět let v pozici ředitele Hnutí DUHA.
			h3 Mgr. Ondřej Liška
			span.about-role člen výboru
			p
				| Ondřej má za sebou téměř dvě desítky let odborné praxe v různých rolích, ale vždy se stejným cílem: Ať už byl členem vlády, poradcem nevládního sektoru nebo politickým analytikem, vždy usiloval o podporu otevřeného státu, inkluze a udržitelného přístupu k naší planetě.
			p
				| Na tomto cíli pracuje s nevládními organizacemi, think-tanky, veřejnými institucemi, podniky a investory. Momentálně působí jako ředitel mezinárodní organizace ASHOKA v ČR.
			h3 BA Matěj Jungwirth
			span.about-role projektový manažer
			p
				| Matěj vystudoval mezinárodní vztahy a komparativní literaturu na Beloit College, USA. Pracuje jako poradce pro zahraniční politiku senátora Václava Lásky.
			p
				| V institutu připravuje první konferenci pro všechny občanské aktivisty a místní politiky napříč Českou republikou, které spojuje zájem o zelená témata a hledají inspiraci pro jejich veřejnou a politickou činnost.
			h3 Klára Berg
			span.about-role koordinátorka projektu Europeanising Young Green Activist Training
			p
				| Klára je dítě Kavkazu beinternational.cz. Snad odjakživa se věnuje neformálnímu vzdělávání (naerasmusplus.cz, akumulatorky.cz), je aktivistka na volné noze (vsetinskeforum.cz, syrskarevoluce.cz, syreczech.cz, projektovatastavet.cz), cestovatelka do backstage společností (zaoponu.cz), milenka veřejného prostoru a zapojování veřejnosti (namestivsetin.cz).
			p
				| V rámci Aktivistického akumulátoru bude Klára od září 2015 do března 2016 provázet dvacet mladých lidí ve věku 15 - 26 let českou a evropskou politikou a pomůže jim v přípravě jejich vlastního politického projektu.
			h3 Honza Sládek
			span.about-role idealista
			p
				| Podnikatel (spoluzakladatel Clevis.cz, nyní manGoweb.cz), konzultant webů, poradce v Junior Internetu a zastupitel městké části Praha 9. V roce 2014 řídil konferenci WebExpo.
			p
				| Honza nedokáže odolat žádné výzvě, a proto se rozhodl zaměřit v rámci Institutu aktivního občanství na téma budoucnosti a ideálního uspořádání politických stran v 21. století.
		section#kontakt.part.contact
			h2 Kontakty
			p Sídlo: Oblá 416/69, Nový Lískovec, 634 00 brno
			p Korespondenční adresa: Krkonošská 2, 120 00 Praha 2
			p
				| Transparentní účet
				a(href='https://www.fio.cz/scgi-bin/hermes/dz-transparent.cgi?pohyby_DAT_od=04.07.2014&pohyby_DAT_do=&protiucet=&kod_banky=&VS=&SS=&UID=&PEN_typ_pohybu=&smer=&castka_min=&castka_max=&ID_ucet=2700153568') 2700153568/2010
			h3 Matěj Jungwirth, projektový manažer
			p
				a(href='mailto:matej@aktivniobcanstvi.cz') matej@aktivniobcanstvi.cz
		section#partneri.part.partners
			h2 Partneři
			h3 Heinrich-Böll-Stiftung
			p
				| Nadace Heinricha Bölla (HBS) je součástí zeleného politického hnutí, které vzniklo a rozvíjí se celosvětově jako reakce na tradiční politiky socialismu, liberalismu a konzervatismu. Hlavními pilíři HBS jsou ekologie a udržitelnost, demokracie a lidská práva, sebeurčení a spravedlnost. HBS je zeleným think-tankem a mezinárodní politickou sítí.
			h3 Green European Foundation
			p
				| Green European Foundation (GEF)  je politická nadace na evropské úrovni. Proto je propojená s dalšími evropskými zelenými aktéry, mezi které patří Evropská strana zelených a Skupina zelených v Evropském parlamentu, zároveň je na nich však nezávislá. GEF se snaží povzbudit evropské občany k účasti v evropských politických diskusích a pomáhat tak navazovat silnější, více participativní evropskou demokracii. Hlavním zdrojem financování GEF je Evropský parlament.
